[submodule "bin/cooc"]
	path = bin/cooc
	url = https://github.com/CommunityGeneticsAnalyses/cooc.git
[submodule "docs/lcn_paper"]
	path = docs/lcn_paper
	url = git@github.com:ecofw/lcn_manuscript.git
